* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/natural-default-pattern.png);
  font-family: 'Lato', sans-serif;
}

#container {
  width: 70%;
  margin: auto;
}

header {
  background-color: #FFFF3B;
  margin-top: 15px;
}

.header-top {
  position: relative;
  background-image: url(../img/natural-default-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid #FFFFFF;
  height: 300px;
}

.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.center-logo h1 {
  border: 5px solid #FFFFFF;
  margin-bottom: 50px;
  display: inline-block;
  padding: 5px;
  font-size: 50px;
}

main {
  margin: 5px 0;
}

main::after {
  content: "";
  display: block;
  clear: both;
}

.colonna-sinistra {
  background-color: #CC87DA;
  width: 30%;
  height: 50vh;
  float: left;
}

.colonna-centrale {
  background-color: #730671;
  width: calc(45% - 2%);
  height: calc(70vh - 10px);
  float: left;
  margin: 0 1%;
}

.colonna-destra {
  width: 25%;
  float: left;
}

.widget {
  background-color: #CC87DA;
  height: 32vh;
  margin-bottom: 10px;
}

footer {
  background-color: #A4D2E1;
  height: calc(10vh - 15px);
  margin-bottom: 15px;
}
